<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <header>
      <h1>Cipher breaker</h1>
    </header>

    <section>
      <div class="descriptions">
        <p class="intro">
          This is a simple application which allows you to play around with
          various ciphers. Select which cipher you are interested in and paste
          your plaintext/ciphertext. All ciphers used here are symmetric in
          nature, meaning you'll need a to enter a key as well! Below is some
          insight on the different ciphers avaliable and explainations on how
          they work.
        </p>

        <div class="ceaser-desc-container">
          <div class="desc-header-container" data-expanded="false">
            <h2>Ceaser Cipher</h2>
            <div class="hidden description">
              <p class="ceasar-desc"></p>
            </div>
          </div>
        </div>

        <div class="columnar-desc-container">
          <div class="desc-header-container" data-expanded="false">
            <h2>Columnar Transposition Cipher</h2>
            <div class="hidden description">
              <p class="columnar-desc"></p>
            </div>
          </div>
        </div>

        <div class="vigenere-desc-container">
          <div class="desc-header-container" data-expanded="false">
            <h2>Vigenere Cipher</h2>
            <div class="hidden description">
              <p class="vigenere-desc"></p>
            </div>
          </div>
        </div>
      </div>
      <textarea name="" id="user_input" cols="30" rows="10"></textarea>
      <!-- <div class="input-area">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div> -->
      <div class="values-container">
        <div>
          <label for="key">key: </label>
          <input type="text" name="key" id="key" />
          <p class="error hidden">
            Please ensure your key consists of at least two unique characters.
          </p>
          <!-- <p>key: <input type="text" name="key" id="key"></p> -->
        </div>

        <div>
          <select name="ciphers" id="ciphers">
            <option value="ceasar">Ceasar Cipher</option>
            <option value="vigenere">Vigenere Cipher</option>
            <option value="columnar">Columnar Transposition Cipher</option>
          </select>
        </div>

        <div>
          <button id="encrypt">Encrypt</button>
          <button id="decrypt">Decrypt</button>
        </div>
      </div>

      <p>Here is your encrypted/decrypted text!</p>
      <textarea name="result" id="result" cols="30" rows="10"></textarea>
    </section>
  </body>
  <script src="../static/javascript/index.js"></script>
</html>
